<form action="/cart" method="POST">
    <button class="btn" type="submit">
        <i class="fa-solid fa-cart-arrow-down"></i>
    </button>
    <input type="hidden" name="comicId" value="<%= comic.id%>">
</form>