<%- include('./includes/head.ejs') %> 

</head>
<body>
    <%- include('./includes/nav.ejs') %> 
    <main class="main_error">
        <h1 class="not_found">
            PAGE NOT FOUND!
        </h1>
        <h2 class="error">
            error 404
        </h2>
        <h4>
            <a class="secondary-color-text" href="/">BACK TO HOME</a>
        </h4>
    </main>
<%- include('./includes/end.ejs') %> 
