.container_comic{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.container_comic .right{
    margin-left: 2rem;
    line-height: 2rem;
}
.btn{
    padding: .5rem 2rem;
    background:none;
    color: #cdcdcd;
    border: none;
    font-size: 4rem;
}
.btn:hover{
    cursor: pointer;
    transform: rotate(360deg);
    transition: all .5s;
}