<%- include('../includes/head.ejs') %> 
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="left">
                <h1 class="logo">COMICS</h1>
                <a href="#">Home</a>
                <a href="#">Tutti i prodotti</a>
            </div>
            <div class="right">
                <a href="#">chart</a>
                <a href="#">Admin mode</a>
            </div>
        </nav>
    </header>
</body>
</html>